/* ESTILOS GENERALES */
html{
    box-sizing: border-box;
  }
  
*, *:before, *:after {
box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

h1{
  padding-top: 40px;
  color: rgb(28, 100, 255);
  text-decoration: underline;
}

header{
  padding: 20px 0;
  background: rgb(143,32,33);
  background: linear-gradient(45deg, rgba(143,32,33,1) 0%, rgba(130,28,26,1) 93%);
}

div.contenedor{

  width: 1200px;
  margin: 0 auto;
}
/* LOGO */

.logo img{
  width: 1200px;
}


/* NAVEGACION */

.navegacion{
  background-color: rgb(28, 100, 255);
  
}

nav{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav ul{
  list-style: none;

}

nav ul::after{
  content: '';
  display: block;
  clear: both;
}

nav > ul > li{
  float: left;
}

nav ul li a{
  display: inline-block; 
  width: 200px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

nav ul li a:hover{
  background-color: rgb(241, 239, 239);
  color: rgb(28, 100, 255);
}

nav ul ul{
  position: absolute;
  top: 100%;
  background-color: rgba(28, 100, 255);
  display: none;
}

nav ul li:hover > ul{
  display: block;
}

nav ul li:hover{
  background-color: rgba(28, 100, 255);
}

/* CONTENIDO */

div.contenido::after{
  content:'';
  display: block;
  clear: both;
}

main{
  width: 70%;
  float: left;
  padding-right: 40px;
}

aside{
  float: right;
  width: 30%;
  margin-top: 40px;
}

article{
  margin-top: 40px;
}

h2{
  color: rgba(28, 100, 255);
  margin-bottom: 30px;
  text-decoration: underline;
}

article img{
  float: left;
  width: 400px;
  margin-right: 50px;
 
}

article p{
  line-height: 2;
  text-align: left;
}

.button{
  background-color: rgba(28, 100, 255);
  padding: 10px 30px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.63);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 1cm;
}

.button:hover{
  color: white;
}

aside ul{
  list-style: none;
}

aside ul li{
  padding: 10px 0 10px 10px;
}

aside ul li:hover{
  background-color: rgba(28, 100, 255);
  cursor: pointer;
  border-radius: 1cm;
}

aside ul li a{
  color: rgba(28, 100, 255);
  text-decoration: none;
}

aside ul li:hover a{
  color: white
}


/* Footer */

footer{
  background-color: black;
  padding-top: 40px;
  margin-top: 30px;
}

footer h2{
  color: white;
}

footer .contenedor::after{
  content: '';
  display: block;
  clear: both;
}

div.nosotros{
  float: left;
  width: 30%;
  color: white;

}

div.menu{
  float: right;
  width: 60%;
  text-align: right;
}

footer nav{
  width: auto;
}

footer nav ul li a{
  width: auto;
}

p.copyright{
  padding: 20px 0;
  text-align: center;
  color: white;
}

/* SELECCION ARGENTINA */

h2.jugadoresSeleccion{
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
}

.fondoSeleccionArg{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+1,2ab0ed+50,e4f5fc+99 */
  background: rgb(228,245,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(228,245,252,1) 1%, rgba(42,176,237,1) 50%, rgba(228,245,252,1) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 1%,rgba(42,176,237,1) 50%,rgba(228,245,252,1) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(228,245,252,1) 1%,rgba(42,176,237,1) 50%,rgba(228,245,252,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#e4f5fc',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.hero img{
  width: 100%;
}

ul.lista-jugadores{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.lista-jugadores li{
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
}

/* Fixes the list */

ul.lista-jugadores li:nth-child(2n+1){
  clear: both;
}

ul.lista-jugadores li img{
  border: 10px solid rgb(97, 187, 218);
}

ul.lista-jugadores li img:hover{
  border: 10px solid rgb(58, 165, 201);
}

ul.lista-jugadores li p{
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  color: white;
  margin-top: 10px;
}

ul.lista-jugadores li p span{
  font-size: 25px;
  color: rgb(247, 247, 40);
}